Listen = "0.0.0.0:9001"
MysqlDns = "root:mysql_pass@tcp(localhost:3306)/chatplus_service?charset=utf8mb4&collation=utf8mb4_unicode_ci&parseTime=True&loc=Local"
DataDir = "./data"
Debug = true
AlApiToken = ""
